html {
  scroll-behavior: smooth;
}
/* Contact Section */
.contact .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .contact .php-email-form {
    width: 100%;
    background: #fff;
    padding: 30px;
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 15px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #ff5828;
  }
  
  .contact .php-email-form button[type="submit"] {
    background: #ff5828;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type="submit"]:hover {
    background: #ff7846;
  }
  
  @media (max-width: 768px) {
    .contact .php-email-form .form-group {
      margin-bottom: 20px;
    }
  }
  

  /* Call to action form css */
  .enquiry-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .enquiry-form .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .enquiry-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .enquiry-form input,
  .enquiry-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .enquiry-form button.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .enquiry-form button.cta-btn:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .enquiry-form {
      padding: 15px;
    }
  }
  

  
  .section-hrda {
    text-align: center;
    color: #944269;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    /* margin-bottom: 15px; */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h2, .card h3 {
    color: #944269;
    font-size: 18px;
}

.highlight {
    color: #944269;
    font-weight: bold;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 10px;
}

.row {
    row-gap: 20px;
}